{% extends 'base.html.twig' %}

{% block title %}Forum - Accueil{% endblock %}

{% block body %}
    <div class="container mx-auto my-8">
        <nav class="bg-white dark:bg-gray-800 shadow-md rounded-md mb-4">
            <div class="px-8 py-4 flex justify-between items-center">
                <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Bienvenue sur votre espace personnel</h3>
                <div class="flex items-center justify-between gap-4">
                    <a href="{{ path('app_logout') }}" class="text-red-500 hover:text-red-700">Déconnexion</a>
                    <a href="{{ path('app_profile', { 'id': app.user.id }) }}" class="flex items-center gap-2">
                        {% if app.user.profilePicture is not null %}
                            <img src="{{ asset('uploads/profile_picture/' ~ user.profilePicture) }}" alt="Image de profil de {{ user.username }}" class="rounded-full w-16 h-16">
                        {% else %}
                            <img src="{{ asset('profile_blank.jpeg') }}" alt="Avatar" class="w-16 h-16 rounded-full">
                        {% endif %}
                    </a>
                </div>
            </div>
        </nav>
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-md px-8 py-4 mb-4">
            <div class="flex items-center">
                <a href="{{ path('app_home') }}" class="text-gray-800 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-500">Accueil</a>
            </div>
        </div>
        <div class="bg-white dark:bg-gray-800 shadow-md rounded-md p-8 flex gap-8 flex-col">
            <div class="bg-white dark:bg-gray-900 shadow-md rounded-lg px-8 py-6 flex items-center gap-10 w-full">
                {{ form_start(form, { 'attr': { 'class': 'flex items-center gap-10 justify-between w-full' } }) }}
                <div class="flex gap-10 items-center whitespace-nowrap">
                    <div class="mr-4">
                        <label for="name" class="text-gray-800 dark:text-gray-200">Nom de la catégorie</label>
                    </div>
                    <div>
                        {{ form_widget(form.name, { 'attr': { 'class': 'px-4 py-2 text-gray-800 dark:text-dark rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500' } })}}
                    </div>
                    <div>
                        <label for="rolesAllowed" class="text-gray-800 dark:text-gray-200">Visible par :</label>
                    </div>
                    <div>
                        {{ form_widget(form.rolesAllowed, {'attr': {'class': 'shadow-sm rounded-md w-full text-black px-3 py-2 dark:text-white border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 flex items-center gap-4'}}) }}
                        {{ form_errors(form.rolesAllowed, {'attr': {'class': 'text-red-500'}}) }}
                    </div>
                </div>
                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Créer une catégorie</button>
                {{ form_end(form) }}
            </div>
            <ul class="flex flex-col gap-4 bg-white dark:bg-gray-900 rounded-md p-4">
                <li>
                    <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200 mb-4">Liste des catégories</h2>
                    <!-- add number of categories -->
                    <p class="text-gray-600 dark:text-gray-400">Nombre de catégories: {{ categories|length }}</p>
                </li>
                {% if categories is empty %}
                    <li class="rounded-lg p-4">
                        <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">Aucune catégorie trouvée</h3>
                    </li>
                {% endif %}
                {% for category in categories %}
                    <li class="bg-white dark:bg-gray-800 rounded-lg p-4 hover:bg-gray-300 hover:dark:bg-gray-700 hover:cursor-pointer flex" onclick="window.location.href='{{ path('app_category', { 'id': category.id }) }}'">
                        <div>
                            <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-200">{{ category.name }}</h3>
                            <p class="text-gray-600 dark:text-gray-400">Auteur: {{ category.author.username }}</p>
                        </div>
                        {% if (category.author.id == app.user.id) or app.user.roles is defined and 'ROLE_ADMIN' in app.user.roles %}
                            <div class="flex items-center gap-4 ml-auto">
                                <a href="{{ path('app_category_edit', { 'id': category.id }) }}" onclick="event.stopPropagation()" class="text-blue-500 hover:text-blue-700">Modifier</a>
                                {% if category.boards|length == 0 %}
                                    <a href="{{ path('app_category_delete', { 'id': category.id }) }}" class="text-red-500 hover:text-red-700" onclick="event.stopPropagation(); return confirm('Voulez-vous vraiment supprimer cette catégorie ?')">Supprimer</a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

