{% extends 'base.html.twig' %}

{% block title %}Subject index{% endblock %}

{% block body %}
    <h1>Subject index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject.createdAt ? subject.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ subject.updatedAt ? subject.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_subject_show', {'id': subject.id}) }}">show</a>
                    <a href="{{ path('app_subject_edit', {'id': subject.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_subject_new') }}">Create new</a>
{% endblock %}
