{% extends 'base.html.twig' %}

{% block title %}Board{% endblock %}

{% block body %}
    <h1>Board</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ board.id }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ board.createdAt ? board.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ board.updatedAt ? board.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_board_index') }}">back to list</a>

    <a href="{{ path('app_board_edit', {'id': board.id}) }}">edit</a>

    {{ include('board/_delete_form.html.twig') }}
{% endblock %}
